<header class="container horizontal" role="banner">
    <a href="/" class="avatar nostyle" title="Alex's avatar" aira-label="Alex's avatar">
        @Alex
    </a>
    <nav class="menu flex-grow justify-end">
        <ul class="container nostyle justify-end">
            {# <li><a href="/gallary">gallary</a></li> #}
            {# <li><a href="/training">training</a></li> #}
            <li><a href="/posts">posts</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>
</header>