---
layout: layouts/base.njk
---

<h2>Contact</h2>
<p>You can find me on <a target="_blank" href="https://www.linkedin.com/in/apccurtiss/">LinkedIn</a>, <a target="_blank" href="https://macaw.social/@alex">Mastodon</a>, <a target="_blank" href="https://bsky.app/profile/shmalex.bsky.social">Bluesky</a>, or <a target="_blank" href="https://github.com/apccurtiss">GitHub</a>.</p>

<p>If you'd like to chat in person, <a target="_blank" href="https://calendly.com/alexcurtiss/grab-a-coffee">let's grab a coffee</a>!</p>