<!DOCTYPE html>
<html lang="en" class="fill">
<head>
    <meta charset="UTF-8">

    {# The lines at the top need to be at the start of the file. Modern browsers don't need the
    DOCTYPE, but it's required for legacy reasons. The charset specifies that this website is in 8-bit
    unicode. Ever seen random <?> characters in a webpage? That happens when this is missing or
    incorrect. The browser will also re-parse the HTML from the beginning when it learns the character
    encoding, so this should be done as soon as possible. #}

    {# Most of the meta tags are used by search engines to describe your website. #}
    <meta name="description" content="Alex's personal website">
    <meta name="keywords" content="Security, Programming, Coding, Blog">
    <meta name="author" content="Alex">

    {# Some of them, like "viewport", have actual effects on how the page is displayed. #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aaaaalex</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/main.js" defer></script>
</head>
<body class="fill">
    <div id="x-modal" class="hidden"></div>
    {# Good ARIA tags to know: #}
    {#     role: values come from a spec, determines how screen readers treat a tag. #}
    {#     aria-label: plain text read out by most screen readers. #}
    <div class="container vertical fill">
        <div class="flair"></div>
        <main class="flex-grow">
            {% include '../components/header.html' %}
            <div id="content" class="flex-grow">
                {{ content | safe }}
            </div>
        </main>
    </div>
    {% include '../components/spite.html' %}
</body>
</html>