---
layout: layouts/base.njk
---

<header role="banner">
    <a href="/">
        <img src="asdf.jpg" class="logo", alt="Logo"></img>
    </a>
</header>
<nav class="breadcrumbs" aria-label="Breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li>{{ title }}</li>
</nav>
{{ content }}