header {
    margin-bottom: 64px;
}

nav.menu {
    font-size: 1.2em;
    font-weight: 600;
}

nav.menu li {
    padding: 2px 8px;
}

.avatar {
    font-size: 1.2em;
    font-weight: 700;
}

ul.horizontal > li {
    display: inline;
}