@import 'header.css';
@import 'modal.css';
@import 'utils.css';

:root {
    --main-highlight: rgb(0,255,255);
    --secondary-highlight: rgb(255,127,255);
    --main-highlight-inactive: rgb(191, 255, 255);
}

body {
    font-size: 1.4em;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.flair {
    background: var(--main-highlight);
    background: linear-gradient(90deg, var(--main-highlight) 0%, var(--secondary-highlight) 100%);
    width: 100%;
    height: 12px;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid var(--secondary-highlight);
}

a:hover {
    color: rgb(0, 64, 64);
    border-bottom: 1px solid var(--main-highlight);
}

.snippet {
}

textarea {
    resize: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 100%;
    border: 2px solid var(--main-highlight);
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit] {
    transition: .4s;
    background: none;
    background: var(--main-highlight);
    border-radius: 4px;
    border:none;
    padding: 8px 16px;
    cursor: pointer;
}

form.loading textarea {
    border: 2px solid var(--main-highlight-inactive);
}

form.loading input[type=submit] {
    background: var(--main-highlight-inactive);
    cursor: wait;
}

.fade-container {
    position: relative;
}

.fade-container>*{
    position: absolute;
    top: 0;
}

.fade-upward {
    pointer-events: none;
    transition: .5s;
    transform: translateY(-10px);
    opacity: 0;
}

.fade-downward {
    pointer-events: none;
    transition: .5s;
    transform: translateY(10px);
    opacity: 0;
}

@media only screen and (min-width: 800px) {
    main {
        padding-top: 32px;
        width: 800px;
        margin: auto;
    }
}