.x-modal-on-click {
    cursor: pointer;
    transition: opacity .1s;
}

.x-modal-on-click:hover {
    opacity: .9;
}

#x-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: #0004;
    display: flex;
    align-items: center;
    justify-content: center;
}

#x-modal * {
    cursor: default;
    width: auto !important;
    height: auto !important;
}

#x-modal.hidden {
    display: none;
}