---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---

<h2>Color</h2>

You 

<h2>Diffuse vs Specular light</h2>

There are three main considerations when determining 

<h2>Ambiant light</h2>

<h2>Reflections and fresnal lighting</h2>

<h2>Subsurface scattering</h2>

<script type="module">
import { Scene, WebGLRenderer, BoxGeometry, MeshBasicMaterial, Mesh, PerspectiveCamera } from '/lib/three/build/three.module.js';
import { WEBGL } from '/assets/js/webgl.js';

function build_scene(target_id) {
    const container = document.getElementById(target_id);

    const scene = new Scene();
    const camera = new PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
    const renderer = new WebGLRenderer();

    renderer.setSize(200, 200);
    container.appendChild(renderer.domElement);

    const geometry = new BoxGeometry();
    const material = new MeshBasicMaterial({ color: 0x00ff00 });
    const cube = new Mesh(geometry, material);
    scene.add(cube);

    camera.position.z = 5;

    function animate() {
        requestAnimationFrame(animate);

        cube.rotation.x += 0.01;
        cube.rotation.y += 0.01;

        renderer.render(scene, camera);
    }
    animate();
}

build_scene('basic-light');
</script>
<div id="basic-light"></div>