---
layout: layouts/base.njk
---

<h1>Training</h1>
<p>I give a number of trainings and tech talks, mostly focused around application security and developer education. Some of them are available online.</p>
<h2>Open source course material</h2>
<ul>
    <li><a href="https://github.com/apccurtiss/IntroSecurityClass">CSCI 3403: Introduction to Cybersecurity</a> (a full security course given for CU Boulder)</li>
</ul>