---
layout: layouts/base.njk
eleventyImport:
  collections: ["post"]
---
<h2>Hi! I'm Alex.</h2>

<p>I <a target="_blank" href="https://render.com/">secure things</a> for work, and teach people how to secure things for fun.</p>