---
layout: layouts/base.njk
---

{% for project in collections.project %}
    <article class="snippet" role="listitem" aria-label="Article title">
        {{ project.data.title }}
        <small class="date" aria-label="Posted at date">{{ post.data.date | date("MMM YYYY") }}</small>
    </article>
{% endfor %}