---
layout: layouts/base.njk
---

<form name="contact" netlify="" class="contact-form">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" required=""><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required=""><br>
  <label for="message">Message:</label><br>
  <textarea id="message" name="message" rows="4" required=""></textarea><br>
  <input type="submit" value="Send">
</form>